:root{
    --primary: #24AE60;
    --secondary: #EB5757;

    --gray600: #333333;
    --gray300: #828282;
    --gray100: #e0e0e0;
    --gray0: #f5f5f5;

    --color-btn: #bdbdbd;
    

    --font-primary: "Inter", sans-serif;

    --size-1: 26px;
    --size-2: 22px;
    --size-3: 18px;
    --size-4: 16px;
    --size-5: 14px;
    --size-6: 12px;
}